<H1> Signup Page </H1>

<div>
<form [formGroup]="userSignup" (ngSubmit)="submitt()"> 
   
  <div>  
    <span> Name </span> 
    <input type="text" formControlName='name'>     
  </div>


    <div>  
      <span> Username </span> 
      <input type="text" formControlName='username' (input)="checkusername($event.target.value)">
      <span *ngIf='userNameCheck && userSignup.get("username").valid'> UserName Available </span> 
      <span *ngIf='userSignup.get("username").touched && userSignup.get("username").invalid'> Username Should be 6 digit with no space </span>  
    </div> 
    
    
    <div> 
       <span> Email </span> 
      <input type="text" formControlName='email'>  
           <span *ngIf='userSignup.get("email").valid && userSignup.get("email").touched'> Email is valid </span>
           <span  *ngIf='userSignup.get("email").invalid && userSignup.get("email").touched '> Email is invalid </span>
    </div>   

    <div>
        <span> Password </span>
        <input type="password" formControlName='password'>
       <span *ngIf='userSignup.get("password").touched && userSignup.get("password").invalid'>Password should be minimum 6 digit</span>
       <span *ngIf='userSignup.get("password").touched && userSignup.get("password").valid'> Password is valid  </span>
      </div> 

    <div> 
       <span> Confirm Password </span> 
       <input type="text" (input)="checkPass($event.target.value)"> 
       <p *ngIf="passWorCheck" style="color:red"> Password Matched </p>     
      </div>
    
    <div>  <span> Job Title </span>
    <select formControlName='jobTile'>
            <option *ngFor="let jobsType of JobTitle" value={{jobsType}}>
              {{jobsType}}
            </option>
     </select>
    </div>
   
    <div>  
      <span> Job Role </span> <input type="text" formControlName='jobRole'>   
      </div>   
    
    <div> 
       <span> Address </span> <input type="text" formControlName='address'>   
    </div> 
    
    <div> 
      <span> country </span>
         <select formControlName='country' (ngModelChange)='setCountryCode($event)'>
             <option *ngFor="let country of countries"  value={{country.country_name}}>
                    {{country.country_name}}
      </option>        
       </select>
     </div>  
    <div>  
      <span> Phone </span>
       <span> {{country_code}} </span>  
       <input type="text" appOnlyNumber="true" formControlName='phone'>     
     </div>    
    
     <div> <button [disabled]='!(userSignup.valid && passWorCheck)' type="submit" >Submit </button>    </div>

</form>    


</div>