
<style>
  div {
    margin-top: 6%;
  }
 </style>
<!-- {
	"customerId"		:	"6",
	"package_type_id"	:	"2",
	"package_list_id"	:	"3",
	"proposal_details"	:	"Business Analysis.Keyword Analysis.",
	"signup_amount"		:	"$120",
	"total_package_fee"	:	"$20",
	"full_package"		:	"$80"
} -->


<!-- <button (click)='addCustomerField()'> Add Customers+ </button>


  <app-add-customers *ngIf='addCustomer' (onCustomerAdded)="onCustomerAdd($event)" ></app-add-customers> -->


  <form [formGroup]='PackageDetails' (ngSubmit)="onSubmit()">


   <div>
        <H1> Project Details </H1>
   <div>
            <span> Customer Name : </span>
            <input type="text" (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay" list="dynmicUserIds" />
            <datalist id="dynmicUserIds">
              <select formControlName="customerId">
              <option *ngFor="let item of userList1" [ngValue]="item.customerId" [value]="item.customerName">{{item.customerName}}</option>
              </select>
            </datalist>
  </div>






      <div>  <span> packag type </span>
        <select formControlName="packag_type" (change)='getpackListName()'>
            <!-- <option [ngValue]='null' disabled>  Select </option> -->
            <option *ngFor="let item of pTypeId" [ngValue]="item.package_id" >{{item.package_name}}</option>
            </select>

      </div>

      <div *ngIf='packageList.length > 0'>  <span> package list</span>
        <select formControlName="package_list_id">
              <option *ngFor="let item of packageList" [ngValue]="item.id" >{{item.packageName}}</option>
        </select>
      </div>

      <div>  <span> Proposal Details </span> <input type='textarea' formControlName="proposal_details"></div>

      <div>  <span> SignUp Amount</span> <input type='text' formControlName="signUpAmount" appOnlyNumber="true"></div>
     <div>  <span> Total Package Fee</span> <input type='text' formControlName="totalPackageFee" appOnlyNumber="true">  </div>
     <div>  <span> Full Package</span> <input type='text' formControlName="full_package" appOnlyNumber="true">  </div>




   <input type='submit' value='submit'>

   </div>


  </form>


<!--
	"proposal_details"	:	"Business Analysis.Keyword Analysis.",
	"signup_amount"		:	"$120",
	"total_package_fee"	:	"$20",
	"full_package"		:	"$80" -->

